
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
.max-width{
  max-width: 1300px;
  padding: 0 115px;
  margin: auto;
}
.top-bar p{
  font-size: 38px;
  font-family: 'TTNorms-Regular',sans-serif;
  color: #575757;
  padding: 20px 0 20px 20px;
  margin-top: 10px;
}
/* signup section  */
.signup{
  background-color: #feed92;
}
.signup .signup-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.signup .signup-content .left{
  width: 55%;
}
.signup .signup-content .left h2{
  font-size: 48px;
  font-family: 'TTNorms-Bold',sans-serif;
}
.signup .signup-content .left ul{
  margin-right: 100px;
  padding-top: 10px;
  padding-left: 25px;
}
.signup .signup-content .left ul li{
  padding: 10px 0;
  font-size: 28px;
  font-family: 'TTNorms-Medium',sans-serif;
}
.signup .signup-content .left .signup-form .email{
  border-radius: 5px;
  width: 420px;
  height: 40px;
  margin: 10px 0;
  padding-left: 10px;
}
.signup .signup-content .left .signup-form .password{
  border-radius: 5px;
  width: 420px;
  height: 40px;
  margin: 10px 0;
  padding-left: 10px;
}
.signup .signup-content .left .signup-form .signupbtn{
  color: white;
  font-size: 27px;
  font-family: 'TTNorms-Regular',sans-serif;
  background-color: #00b5e1;
  border-color: #00b5e1;
  border-radius: 5px;
  width: 420px;
  height: 60px;
  margin: 10px 0;
}
.signup .signup-content .left .signup-form p{
  font-size: 12px;
  font-family: 'HelveticaNeue',sans-serif;
}
.signup .signup-content .right{
  width: 45%;
}
.signup .signup-content .right .img1{
  padding: 160px 0;
  z-index: 1;
  position: relative;
  width: 130%;
}
.signup .signup-content .right .img2{
  right: 15px;
  top: 335px;
  z-index: 0;
  position: absolute;
  width: 27%;
}
/* slider styling section */
.slider{
  padding: 50px 0;
  background-color: white;
  position: relative;
  z-index: 1;
}
.slider .slider-content{
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.slider .slider-content .left{
  width: 15%;
}
.slider .max-width h2{
  text-align: center;
  font-size: 47px;
  font-family: 'TTNorms-Medium',sans-serif;
}
.slider .slider-content .left img{
  margin-top: 60px;
  width: 80%;
}
.slider .slider-content .right{
  width: 82%;
}
.slider .slider-content .right h5{
  font-size: 33px;
  font-family: 'TTNorms-Medium',sans-serif;
  margin-bottom: 10px;
}
.slider .slider-content .right p{
  font-size: 30px;
  font-family: 'TTNorms-Light',sans-serif;
}
.slider .max-width .dots{
  z-index: -1;
  text-align: center;
  position: relative;
  bottom: 100px;
  font-size: 150px;
  color: grey;
}
/* tabs styling section */
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
	background: #007b5e;
    color: #eee;
    padding: 60px 0;
}
#tabs h1.section-title{
    color: #eee;
    font-size: 48px;
}
#tabs .menu li{
  list-style: none;
  display: inline-block;
}
#tabs .menu li a{
  display: block;
  font-size: 20px;
  padding: 15px 103.3px;
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #eee;
}
.active{
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs hr{
  color: white;
  background-color: white;
  height: 2px;
}
.tabcontents{
  margin-top: 25px;
}
.tabcontents #home{
  display: none;
}
.tabcontents #contact{
  display: none;
}
.tabcontents #about{
  display: none;
}
/* resopive section for iphone x */
@media (max-width: 1024px){
  .max-width{
    padding: 0 50px;
  }
  .top-bar{
    display: none;
    visibility: hidden;
  }
  .signup .signup-content{
    padding-top: 100px
  }
  .signup .max-width{
    margin-left: 100px;
  }
  .signup .signup-content .column{
    width: 100%;
  }
  .signup .signup-content .column .img1{
    display: none;
  }
  .signup .signup-content .right .img2{
    top: 650px;
    z-index: 1;
    width: 70%;
  }
  .signup .signup-content .left{
    z-index: 2;
    padding: 150px 0;
  }
  .signup .signup-content .left h2{
    font-size: 70px;
    font-family: 'TTNorms-Bold',sans-serif;
  }
  .signup .signup-content .left ul{
    padding-top: 25px;
  }
  .signup .signup-content .left ul li{
    padding: 10px 0;
    font-size: 40px;
  }
  .signup .signup-content .left .signup-form .email{
    font-size: 25px;
    border-radius: 5px;
    width: 700px;
    height: 70px;
  }
  .signup .signup-content .left .signup-form .password{
    font-size: 25px;
    border-radius: 5px;
    width: 700px;
    height: 70px;
  }
  .signup .signup-content .left .signup-form .signupbtn{
    font-size: 35px;
    border-radius: 5px;
    width: 700px;
    height: 90px;
  }
  .signup .signup-content .left .signup-form p{
    font-size: 20px;
    font-family: 'HelveticaNeue',sans-serif;
  }
  .slider{
    padding-top: 100px;
  }
  .slider .max-width h2{
    font-size: 60px  ;
  }
  .slider .slider-content .column{
    width: 100%;
  }
  .slider .slider-content .column{
    display: flex;
    justify-content: center;
  }
  .slider .slider-content .column img{
    position: relative;
    width: 20%;
    top: 600px;
  }
  .slider .slider-content .column h5{
    position: relative;
    left: 42%;
    top: 330px;
    font-size: 40px;
    width: 100%;
  }
  .slider .slider-content .column p{
    text-align: center;
    position: relative;
    bottom: 250px;
    right: 90px;
  }
  .slider .max-width .dots{
    bottom: 10px;
  }
  #tabs{
    display: none;
  }
}
